.input {
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 20px;
}
.result {
  height: 80px;
  flex: 1;
  font-size: 24px;
}
.text {
  flex: 1;
  font-size: 20px;
}
