body {
  background-color: bisque;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc {
  background-color: white;
  width: 400px;
  text-align: center;
  margin-top: 5%;
  border-radius: 16px;
}
.row {
  display: flex;
  justify-content: space-evenly;
}

buttonColor {
  background-color: red;
}
